/* Global */

$old-lavender: #264653;
$english-lavender: #2A9D8F;
$pastel-pink: #E76F51;
$melon: #F4A261;
$apricot: #fdfcdc;

$roboto: 'Roboto', sans-serif;
$oswald: 'Oswald', sans-serif;
$major: 'Major Mono Display', monospace;

.header-menu, .header-menu ul, .header-container, .content-info, .content-skill, footer {
   display: flex;
}

.header-menu ul, footer {
   justify-content: center;
}

.header-container {
   flex-direction: column;
}

.content-title {
   flex-grow: 1;
   padding: 5%;
}

.content-wrapper {
   background: $apricot;
}

.info-text, .skill-text {
   flex-basis: 70%;
   padding: 5%;
   color: $apricot;
}

.content-info, .content-skill {
   margin: 80px 0;
}

body, html {
   height: 100%;
   scroll-behavior: smooth;
}

body, p {
   margin: 0;
   font-family: $roboto;
}

h1 {
   font-family: $major;
   font-size: 65px;
   color: $english-lavender;
}

h2 {
   padding: 15px;
   font-size: 40px;
   font-weight: 500;
   color: $apricot;
   background: $english-lavender;
   border-radius: 20px;
   text-transform: uppercase;

}

h3 {
   margin: 25px 0;
   font-size: 58px;
   font-family: $major;
}

ul {
   padding: 0;
}

li {
   list-style-type: none;
}


hr.separator {
   height: 15px;
   background: white;
   margin: 0;
   width: 20%;
   border: none;
}

/* Header */

header {
   height: 90vh;
   padding: 5% 0;
   background-image: url(../img/bg.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   .header-menu {
      position: fixed;
      z-index: 51;
      top: 0;
      width: 100%;
      padding: 0.8%;
      background-color: $old-lavender;

      ul {
         width: 50%;
         margin: 0 auto;
         text-transform: uppercase;

         li {
            flex-basis: 33%;
            text-align: center;

            a {
               color: $apricot; 
               text-decoration: none;
            }

            a:hover {
               color: $melon;
            }
         }
      }
   }

   .separator {
      background: $english-lavender;
   }

   .header-title {
      position: relative;
      z-index: 50;
      animation: pop 2.5s ease-in-out infinite;
   }

   @keyframes pop {
      from {top: 0px;}
      50%  {top: 10px;}
      to   {top: 0px;}
   }
}

.header-container {
   width: 40%;
   height: 100%;
   margin: 0 auto;
   padding: 7% 0;
}

/* Info */

.content-info {

   .content-title {
      background: $melon;
      color: $apricot;
   }

   hr {
      background: $apricot;
   }

   .info-text {
      background: $english-lavender;
   }
}

/* Skill */

.content-skill {

   .content-title {
      background: $pastel-pink;
      color: $apricot;
   }

   hr {
      background: $apricot;
   }

   .skill-text {
      background: $english-lavender;

      div {
         display: flex;

         span {
            position: relative;
         }

         span:hover {
            animation: slide 1s ease 1;
            color: $melon;
         }

         @keyframes slide {
            from {left: 0px;}
            50%  {left: 5px;}
            to   {left: 0px;}
         }
      }

      span {
         width: 50%;
         padding: 15px;
         margin: 10px;
         background: #264653;
         font-size: 20px;
         font-weight: 600;
         border-radius: 20px;
         color: #fdfcdc;
         text-transform: uppercase;

         i {
            margin-right: 10px;
         }
      }
      
   }
}


/* Footer */

footer {
   padding: 3% 0;
   background-color: $old-lavender;

   i {
      padding: 0 20px;
      font-size: 2.5rem;
      color: $apricot;
   }

   i:hover {
      color: $melon;
   }
}

/* Mobile */

@media (max-width: 1105px) {
   header {
      height: 100%;

      .header-container {
         width: 50%;

         h1 {
            font-size: 50px;
         }

         h2 {
            font-size: 30px;
         }
      }
   } 
}

@media (max-width: 910px) {
   .content-info, .content-skill {
      flex-direction: column;
   }
}

@media (max-width: 750px) {
   header {
      height: 100%;

      .header-menu ul {
         width: 100%;
         padding: 10px;
         font-size: 14px;
      }

      .header-container {
         width: 80%;

         h1 {
            font-size: 50px;
         }

         h2 {
            font-size: 35px;
         }
      }
   }
}

